/* ----- Profile Header ----- */
.ProfileHeader {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 3rem;
    gap: 1rem;
}

.profileUsername {
    color: #845EC2;
    border: 3px solid #845EC2;
    border-radius: 2rem;
    padding: 0.5rem;
}