/* ----- Profile Translation History ----- */
.history {
    color: #969696;
    padding: max(3vw, 1rem);
}

.historyTitle {
    padding: 1.5rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.history ol {
    padding-left: 3rem;
}

.history ol li {
    padding: 0.5rem;
}