/* ----- Profile Actions (buttons) ----- */
.actionsRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: max(3vw, 2.2rem);
    padding: 1rem;
    background-color: #FFC75F;
}

.actionsTitle {
    color: #969696;
    padding-bottom: 0.5rem;
    text-align: center;
}


/* ----- Profile Button ------ */
.actionButton {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: "Sanchez", Arial, sans-serif;
    transition: all 0.5s ease;
    cursor: pointer;
}

.actionButton:hover {
    background-color: #845EC2;
    color: white;
    transform: scale(1.1);
}

.actionButton:active {
    transform: scale(1.3);
}