/* ----- Translation containers ----- */
.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-flow: column nowrap;
    padding: max(2vw, 1rem);
}


/* ----- Default Input container ----- */
.inputContainer {
    background-color: #EFEFEF;
    border: 3px solid #969696;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
}


/* ----- Pipe sign ----- */
.inputPipeSign {
    padding: 0 1rem;
}


/* ----- Input field ----- */
.inputField {
    font-family: "Sanchez", Arial, sans-serif;
    background-color: #EFEFEF;
    padding: 0.5rem 0;
    margin-right: 1rem;
    flex-grow: 1;
    font-size: clamp(1.15rem, 3vw, 2rem);
    border: 2px solid #EFEFEF;
    font-weight: 600;
}

.inputField:focus {
    outline: none !important;
    border-bottom: 2px dashed #969696;
}


/* ----- Round button ----- */
.roundButton {
    padding: 0.5rem 1rem;
    background-color: #845EC2;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    font-size: inherit;
}

.roundButton:hover {
    background-color: #FFC75F;
    color: #845EC2;
    transform: scale(1.2);
}