/* ----- Translation Output ----- */
.signsRow {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 0.5rem;
}

.signsRow li img{
    max-width: 60px;
    max-height: 60px;
}

.rows {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}


/* ----- Card ----- */
.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 1rem;
    width: 100%;
}

.cardContent {
    padding: 3rem;
}

.cardFooter {
    background-color: #845EC2;
    color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0.5rem 2rem;
}