/* ----- Translation Header ----- */
.TranslationHeader {
    background-color: #FFC75F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1.5rem 5rem;
    gap: 1rem;
}

.robotText {
    padding: 2rem;
    max-width: 40rem;
    background-color: #676161;
    border: 3px solid white;
    border-radius: 2rem;
    line-height: 2rem;
    color: greenyellow;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.TranslationHeader h4 span {
    padding-right: 1rem;
}

.robotHello {
    max-width: 10rem;
    max-height: 10rem;
}


/* ----- Media Quires  ----- */
@media only screen and (max-width: 800px) {
    .TranslationHeader {
        padding: 1.5rem;
    }
}