/* ----- Login page ----- */
.offsetContainer {
    position: relative;
    top: -7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}


