/* ----- Profile page ----- */
.profile {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 3rem;
    max-width: 900px;
    margin: 3rem auto;
}

.profileFooter {
    background-color: #845EC2;
    color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0.5rem 2rem;
}