/* ----- Translation page ----- */
.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-flow: column nowrap;
    padding: max(2vw, 1rem);
}

.backgroundYellow {
    background-color: #FFC75F;
}

.backgroundWhite {
    background-color: white;
}

.p3 {
    padding: 3rem;
}