/* ----- Navbar ----- */
header {
    background-color: #FFC75F;
    color: white;
    border-bottom: 2px solid #b28b41;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 0 3rem;
}


/* ----- Content container ----- */
.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 3rem;
}


/* ----- Navbar Logo ----- */
.navLogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 3rem;
    transition: all 0.5s ease;
    margin: max(1vw, 0.25rem) 0;
}

.navLogo:hover {
    background-color: #845EC2;
    color: white;
}

.navLogoText {
    font-family: "Love Ya Like A Sister", Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.navLogoPicture {
    max-width: 3rem;
    width: 100%;
    height: auto;
    padding: 0.3rem;
    background-color: white;
    border-radius: 50%;
}


/* ----- Navbar User-Profile ----- */
.navUser {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.disabledLink {
    pointer-events: none;
    cursor: default;
    background-color: #969696 !important;
}

.navUserLink {
    text-decoration: none;
    border-radius: 1rem;
    background-color: #b28b41;
    color: white;
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.5s ease;
}

.navUserLink:hover {
    background-color: #845EC2;
}

.navUserName {
    display: inline-block;
    position: relative;
    top: 0.25rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navUserLogo {
    position: relative;
    top: 1rem;
    border-radius: 2rem;
    max-width: 3rem;
    max-height: 3rem;
    z-index: 2;
    margin-left: 0.5rem;
    background-color: #FFC75F;
}


/* ----- Media Quires  ----- */
@media only screen and (max-width: 800px) {
    .container {
        padding: 0 0.5rem;
    }

    nav {
        padding: 0;
    }

    .navLogo {
        flex-flow: column wrap;
        justify-content: center;
    }

    .navLogoText {
        font-size: 2rem;
    }

    .navLogoPicture {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .navLogo {
        border-radius: 1rem;
    }

    .navLogoText {
        text-align: left;
        max-width: 11rem;
        font-size: 2rem;
    }
}