/* ----- Login Header with picture and description ----- */
.LoginHeader {
    background-color: #FFC75F;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 0 10rem 0;
    gap: 1rem;
}


/* ----- Header picture (consist of 2 pictures: robot and splash) ----- */
.LoginHeaderPicture {
}

.robot, .splash {
    position: relative;
    /*width: 100%;*/
    height: auto;
}

.robot {
    max-width: 7rem;
    z-index: 2;
    right: -8rem;
}

.splash {
    max-width: 9rem;
    z-index: 1;
    top: -1rem;
}


/* ----- Header description (consist of h1 and h4 text) ----- */
.LoginHeaderDescription {
    color: white;
}

.LoginHeaderDescription h1 {
    font-family: "Love Ya Like A Sister", Arial, sans-serif;
    font-size: 5vw;
    font-weight: 400;
}

.LoginHeaderDescription h4 {
    font-size: 2rem;
}


/* ----- Media Quires  ----- */
@media only screen and (max-width: 800px) {
    .LoginHeaderDescription h1 {
        font-size: 2.5rem;
    }

    .robot {
        max-width: 5rem;
        right: -6rem;
    }

    .splash {
        max-width: 7rem;
        top: -0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .LoginHeaderDescription h1 {
        font-size: 2rem;
    }
    .LoginHeaderDescription h4 {
        font-size: 1rem;
    }
}