/* ----- Round button ----- */
.roundButton {
    padding: 0.5rem 1rem;
    background-color: #845EC2;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    font-size: inherit;
}

.roundButton:hover {
    background-color: #FFC75F;
    color: #845EC2;
    transform: scale(1.2);
}

.roundButton:active {
    transform: scale(1.5);
}

.roundButton:disabled {
    background-color: #969696;
    color: black;
}


/* ----- Default Input container ----- */
.inputContainer {
    background-color: #EFEFEF;
    border: 3px solid #969696;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
}


/* ----- Pipe sign ----- */
.inputPipeSign {
    padding: 0 1rem;
}


/* ----- Label ----- */
label {
    color: #969696;
    padding-bottom: 0.5rem;
    text-align: center;
}


/* ----- Input field ----- */
.inputField {
    font-family: "Sanchez", Arial, sans-serif;
    background-color: #EFEFEF;
    padding: 0.5rem 0;
    margin-right: 1rem;
    flex-grow: 1;
    font-size: clamp(1.5rem, 3vw, 2rem);
    border: 2px solid #EFEFEF;
}

.inputField:focus {
    outline: none !important;
    border-bottom: 2px dashed #969696;
}


/* ----- Card ----- */
.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 1rem;
    width: 100%;
}

.cardContent {
    display: flex;
    flex-flow: column nowrap;
    padding: max(3vw, 1rem);
}

.cardFooter {
    background-color: #845EC2;
    color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 0.5rem 2rem;
}