/* ----- Loader ----- */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: max(3vw, 2rem);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: white;
    background-color: #845EC2;
    animation: fade 1s ease infinite;
}
.loader span:nth-child(1) {
    animation-delay: 100ms;
}

.loader span:nth-child(2) {
    animation-delay: 200ms;
}
.loader span:nth-child(3) {
    animation-delay: 300ms;
}
.loader span:nth-child(4) {
    animation-delay: 400ms;
}
.loader span:nth-child(5) {
    animation-delay: 500ms;
}
.loader span:nth-child(6) {
    animation-delay: 600ms;
}
.loader span:nth-child(7) {
    animation-delay: 700ms;
}

@keyframes fade {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-16px);
    }
    100% {
        transform: translateY(0px);
    }
}
